* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

@-ms-viewport{
    width: device-width;
}

a {
    text-decoration: none;
    color: white;
}

body {
	background-color: #1DA1F2;
	height: 100%;
}

button {
	height: 40px;
}

img.userIcon {
	height: 41px;
	border-radius: 50%;
	padding: 5px;
	display: inline;
	float: left;
}

img.familyPhoto {
	width: 100%;
}

img.messageIcon {
	height: 41px;
	padding-top: 5px;
	float: right;
	padding-right: 6px;
}

img.galleryThumbnail {
	width: 150px;
	height: 100px;
}

ul.userPhotoIcon {
	display: none;
}

.container {
	padding-bottom: 100px;
}

.navButton {
	color: white;
	height: 46px;
	width: 100%;
	position: fixed;
	padding: 15px;
	background-color: #323333;
}

.node {
	padding-left: 5%;
    padding-right: 5%;
    padding-top: 60px;
}

.nodeTitle {
	text-align: center;
    padding-right: 43px;
    padding-top: 14px;
    color: white;
}

.photoHeader {
	height: 50px;
	padding: 5px;
	margin-bottom: 4px;
}

.photoFooter {
	height: 50px;
	padding: 3px;
	background-color: #323333;
}

.uploadParent {
	display: flex;
	justify-content: center;
	padding-top: 40px;
}

.uploadChild {
	background-color: white;
  text-align: center;
  width: 90%;
  padding: 46px;
  margin-top: 100px
}

.uploadButton {
	height: 50px;
	float: right;
	padding-bottom: 19px;
	margin: -6px;
	filter: invert(100%);
}

.fileUpload {
  display: flex;
  justify-content: center;
  padding-top: 10%;

}

input.imageDescription {
  height: 50px;
  width: 70%;
  margin: 10px;
  margin-bottom: 42px;
  text-align: center;
}

.imgDropText {
  text-align: center;
  padding: 31px;
  color: #323333;
}

p.dropZoneText {
  color: #323333;
  padding: 10px;
  margin: 10px;
  display: inline;
}

img.imageDropPreview {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  display: none;
}

.formButton {
	height: 23px;
	margin-top: 15px;
	border-radius: 14px;
	color: white;
}
.uploadParent {
	display: flex;
	justify-content: center;

}

.uploadContainer {
	flex: 1;
	padding-top: 50px;

}

.uploadForm {
	width: 50%;
	text-align: center;
}

.galleryZoomed {
  display: flex;
  flex-direction: column;
	background: rgba(0, 0, 0, 1);
	position: fixed;
	width: 100%;
	height: 100%;
	padding-top: 1px;
	padding-left: 5%;
	padding-right: 5%;

}

.galleryContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 87px;
	padding-left: 5%;
}

.galleryContainer div {
	width: 150px;
	height: 100px;
	background-color: powderblue;
	margin: 5px;
}

.galleryContainer img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.zoomedNav {
	text-align: center;
}

.zoomedPhoto {
  width: 100%;
  max-height: 90%;
}

.zoomedNav img {
	filter: invert(100%);
	height: 45px;
	margin: 100px;
	box-shadow: 2px 141px 173px;
}

.white {
  color: white;
  margin: 45px;

}

.xIcon {
	filter: invert(100%);
	height: 14px;
	margin: -6px;

}

@media only screen and (min-width: 1000px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
    .node {
    	margin: 0 auto;
    }

    .dropZoneBox {
      height: 200px;
      width: 100%;
    }

    .galleryContainer {
    	padding-left: 20%;
    	padding-right: 20%;
    	padding-top: 55px;

    }
		ul.userPhotoIcon {
			display: initial;
			width: 10%;
			float: left;
			padding-top: 76px;
			color: white;
		}

		ul.userPhotoIcon img {
			padding: 1px;
		}

    .uploadChild {
      width: 40%;
    }
}
