* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

@-ms-viewport{
    width: device-width;
}

a {
    text-decoration: none;
    color: white;
    margin: 5px;
}

i {
  cursor: pointer;
}

a:hover, a:focus {
  color: #EE930E;
}

i:hover, i:focus {
  color: #EE930E;
}

p.dropZoneText:hover {
  color: #EE930E;
}

p.announcementPost:hover {
  color: #EE930E;
}

body {
	background-color: #1DA1F2;
	height: 100%;
}

button {
	height: 40px;
}

img.userIcon {
	height: 41px;
	border-radius: 50%;
	padding: 5px;
	display: inline;
	float: left;
}

img.familyPhoto {
  margin-top: 5px;
	width: 100%;
}

i.messageIcon {
  font-size: 30px;
  color: white;
	padding-top: 5px;
	float: right;
	padding-right: 6px;
}

i.messageIcon:hover {
  color: #EE930E;
}

img.galleryThumbnail {
	width: 150px;
	height: 100px;
}

ul.userPhotoIcon {
	display: none;
}
.logoContainer {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.loginContainer {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.logoImage {
  height: 88px;
}


.loginImage {
  height: 40px;
}

.announcementBlueLine {
  height: 4px;
  background-color: #1DA1F2;
}

.announcementTextNode {
	height: 100px;
  background-color: #F5F8F2;
	margin-bottom: 4px;
}

.announcementTextNodeTitle {
  text-align: center;
  padding-right: 43px;
  padding-top: 14px;
  color: #323333;
}


.announcementParent {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.announcementContainer {
  margin-top: 10px;
  height: 150px;
  width: 95%;
  background-color: #F5F8F2;
}

.announcementHeader {
  height: 25px;
  background-color: #1DA1F2;
}

.announcementFooter {
  margin-top: 16px;
  height: 45px;
  background-color: #323333;
}

.announcementInputBox {
  display: inline;
  float: right;
  width: 80%;
  margin-right: 5px;
}

.announcementInput {
  height: 65px;
  outline: none;
  width: 100%;
  background-color: #F5F8F2;
  border: 1px solid #F5F8F2;
}

.announcementPost {
  padding-top: 11px;
  padding-right: 16px;
  float: right;
  cursor: pointer;
  color: white;
}

.avatarDiv {
  width: 15%;
  padding-left: 2%;
  display: inline-block;
}

.avatarPhoto {
  height: 50px;
  margin: 5px;
  padding-top: 5px;
}

.container {
	padding-bottom: 100px;
}

.navButton {
	color: white;
	height: 46px;
	width: 100%;
	position: fixed;
	padding: 15px;
	background-color: #323333;
}

.node {
	padding-left: 5%;
  padding-right: 5%;
  padding-top: 60px;
}

.nodeTitle {
  text-align: center;
  padding-right: 43px;
  padding-top: 14px;
  color: white;
}

.photoHeader {
	height: 50px;
	padding: 5px;
	margin-bottom: 4px;
}

.photoFooter {
	height: 50px;
	padding: 3px;
	background-color: #323333;
}

/*styling for comments*/
.commentParent {
  display: flex;
  justify-content: center;
}

.commentContainer {
  width: 90%;
  background-color: #f5f8f2;
}

.commentTextContainer {
  display: inline-block;
}

.commentText {
  padding: 10px;
}
/* end of comments styling*/

.uploadParent {
	display: flex;
	justify-content: center;
	padding-top: 40px;
}

.uploadChild {
	background-color: white;
  text-align: center;
  width: 90%;
  padding: 46px;
  margin-top: 100px
}

.uploadButton {
	height: 50px;
	float: right;
	padding-bottom: 19px;
	margin: -6px;
}

.uploadButton:hover {
  filter: brightness(100%);}

.fileUpload {
  display: flex;
  justify-content: center;
  padding-top: 10%;

}

input.imageDescription {
  height: 50px;
  width: 70%;
  margin: 10px;
  margin-bottom: 42px;
  text-align: center;
}

.imgDropText {
  text-align: center;
  padding: 31px;
  color: #323333;
}

p.dropZoneText {
  color: #323333;
  padding: 10px;
  margin: 10px;
  display: inline;
}

img.imageDropPreview {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  display: none;
}

.formButton {
	height: 23px;
	margin-top: 15px;
	border-radius: 14px;
	color: white;
}
.uploadParent {
	display: flex;
	justify-content: center;

}

.uploadContainer {
	flex: 1;
	padding-top: 50px;

}

.uploadForm {
	width: 50%;
	text-align: center;
}

.galleryZoomed {
  display: flex;
  flex-direction: column;
	background: rgba(0, 0, 0, 1);
	position: fixed;
	width: 100%;
	height: 100%;
	padding-top: 25px;
	padding-left: 5%;
	padding-right: 5%;

}

.galleryContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 105px;
}

.galleryContainer div {
	width: 200px;
	height: 150px;
	background-color: #F5F8F2;
	margin: 2px;
  padding: 16px;
}

.galleryContainer img {
	width: 100%;
	height: 100%;
  cursor: pointer;
	overflow: hidden;
}

.zoomedNav {
	text-align: center;
}

.zoomedPhoto {
  width: 100%;
  max-height: 90%;
}

.zoomedNav img {
	filter: invert(100%);
	height: 45px;
	margin: 100px;
	box-shadow: 2px 141px 173px;
}

.white {
  color: white;
  margin: 45px;
 }

.xIcon {
  color: white;
	font-size: 21px;
	margin-left: -16px;
}

.xIcon:hover {
  color: #EE930E;
}

@media only screen and (min-width: 1000px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
    .node {
    	margin: 0 auto;
    }

    .announcementContainer {
      width: 50%;
      margin-right: 11%;
    }

    .commentContainer {
      width: 40%;
    }

    .dropZoneBox {
      height: 200px;
      width: 100%;
    }

    .galleryContainer div {
    	margin: 10px;
    }

    .galleryContainer {
    	padding-left: 20%;
    	padding-right: 20%;
    	padding-top: 55px;
    }

		ul.userPhotoIcon {
			display: initial;
			width: 10%;
			float: left;
			padding-top: 76px;
			color: white;
		}

    .uploadChild {
      width: 60%;
    }

		ul.userPhotoIcon img {
			padding: 1px;
		}

    .flexZoomedContainer {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .zoomedPhotoContainer {
      width: 40%;
    }

}
