@-ms-viewport{
  width: device-width;
}

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

a {
  text-decoration: none;
  color: white;
  margin: 5px;
}

a:hover, a:focus {
  color: #EE930E;
}

/* Announcement */

.announcementParent {
  display: flex;
  justify-content: center;
  padding-top: 36px;
}

.announcementContainer {
  margin-top: 10px;
  height: 150px;
  width: 95%;
  background-color: #cccccc;
}

input.announcementInput {
  font-size: 18px;
  padding-top: 31px;
  height: auto;
}

.announcementBlueLine {
  height: 4px;
  background-color: #323333;
}

.announcementTextNode {
  height: 100px;
  background-color: #cccccc;
  margin-bottom: 4px;
}

.announcementTextNodeTitle {
  text-align: center;
  padding-right: 43px;
  padding-top: 14px;
  color: white;
}

.announcementPostIcon {
  padding: 2px;
}

.announcementHeader {
  height: 25px;
  background-color: #323333;
}

.announcementFooter {
  margin-top: 16px;
  height: 45px;
  background-color: #323333;
}

.announcementInputBox {
  display: inline;
  float: right;
  width: 80%;
  margin-right: 5px;
}

.announcementInput {
  height: 65px;
  outline: none;
  width: 100%;
  background-color: #cccccc;
  border: 1px solid #cccccc;
}

.announcementPost {
  padding-top: 11px;
  padding-right: 16px;
  float: right;
  cursor: pointer;
  color: white;
}

.announcementAvatar {
  width: 15%;
  padding-left: 2%;
  display: inline-block;
}

.avatarPhoto {
  height: 50px;
  margin: 5px;
  padding-top: 5px;
}

p.announcementPost:hover {
  color: #EE930E;
}

body {
  background-color: #323333;
  height: 100%;
}

/* Comments */

.commentParent {
  display: flex;
  justify-content: center;
}


.commentContainer {
  width: 90%;
  background-color: #f5f8f2;
}

.commentTextContainer {
  display: inline-block;
  width: 100%;
  z-index: 3;
}

.commentInputHr {
  width: 96%;
  margin-left: 9px;
}

.commentText {
  padding: 10px;
  z-index: 3;
  position: relative;
}

.commentText span {
  font-weight: bold;
}

.commentInputForm {
  display: inline;
}

.commentInputParent {
  display: flex;
  justify-content: center;
  height: 50px;
}

.commentInputContainer {
  width: 90%;
  background-color: #f5f8f2;
  padding-top: 3px;
}

.commentSubmitIcon {
  padding: 2px;
}

p.commentSubmit:hover {
  color: #EE930E;
}

p.commentSubmit {
  float: right;
  padding-right: 14px;
  padding-top: 14px;
  cursor: pointer;
}

input.commentBox {
  height: 95%;
  font-size: 15px;
  padding: 8px;
  width: 56%;
  outline: none;
  border: 1px solid #f5f8f2;
  background-color: #f5f8f2;
}

/* deleteButtons */

.deletePhoto:hover {
  opacity: 1;
}

.deletePhoto {
  position: absolute;
  font-size: 30px;
  padding: 9px;
  width: 100%;
  height: 300px;
  opacity: 0;
  color: #F5F8F2;
}

.deleteIcon {
  float: right;
  padding: 5px;
}

.deleteAnnouncement:hover {
  opacity: 1;
}

.deleteAnnouncement {
  float: right;
  padding: 7px;
  position: absolute;
  height: 100px;
  width: 90%;
  opacity: 0;
}

.deleteComment:hover {
  opacity: 1;
}

.deleteComment {
  font-size: 20px;
  width: 90%;
  position: absolute;
  opacity: 0;
  z-index: 8;
}

/* GalleryPage */

.galleryZoomed {
  display: flex;
  flex-direction: column;
	background: rgba(0, 0, 0, 1);
	position: fixed;
	width: 100%;
	height: 100%;
	padding-top: 25px;
	padding-left: 5%;
	padding-right: 5%;
}

.galleryContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 80px;
}

.monthSeparatorHr {
  background: white;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 2px;
  border: white;
}

.gallerySeparator {
  width: 100%;
  height: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 47px;
  padding-top: 26px;
}

.gallerySeparator p {
  color: white;
  font-size: 20px;
}

.galleryThumbnail {
	width: 136px;
	height: 103px;
	background-color: #F5F8F2;
	margin: 2px;
}

.galleryThumbnail:hover {
  box-shadow: 1px 2px 23px pink;
}

.galleryContainer img {
	width: 100%;
	height: 100%;
  cursor: pointer;
	overflow: hidden;
}

img.memberIconClickable {
  border: 2px solid white;
}

img.memberIconClickable:hover {
  border: 2px solid #EE930E;;
}

img.galleryThumbnail {
  width: 150px;
  height: 100px;
}

/* Login */

.logoContainer {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.loginContainer {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.logoImage {
  height: 88px;
}

.loginImage {
  height: 40px;
}

/* Header Styling */

.navButton {
	color: white;
	height: 46px;
	width: 100%;
	position: fixed;
	padding: 15px;
  z-index: 34234;
	background-color: #323333;
}

/* HomePage */

.photoContainer {
  position: relative;
}

.node {
	padding-left: 5%;
  padding-right: 5%;
  padding-top: 38px;
}

.nodeTitle {
  text-align: center;
  padding-right: 43px;
  padding-top: 14px;
  color: white;
}

.photoHeader {
	height: 50px;
	padding: 5px;
	margin-bottom: 4px;
}

.photoFooter {
	height: 50px;
	padding: 3px;
	background-color: #323333;
}

/* UploadPage */

.uploadParent {
	display: flex;
	justify-content: center;
	padding-top: 40px;
}

.uploadChild {
  background-color: white;
  text-align: center;
  width: 90%;
  padding: 46px;
  margin-top: 100px
}

.uploadContainer {
	flex: 1;
	padding-top: 50px;
}

.uploadButton {
	height: 50px;
	float: right;
	padding-bottom: 19px;
	margin: -6px;
}

.fileUpload {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.xIconUpload {
  color:white;
  font-size: 21px;
  margin-left: -16px;
  padding-top: 82px;
}

input.imageDescription {
  height: 50px;
  width: 70%;
  margin: 10px;
  margin-bottom: 42px;
  text-align: center;
  font-size: 16px;
}

.imgDropText {
  text-align: center;
  padding: 31px;
  color: #323333;
  cursor: pointer;
}
.imgDropText:hover {
  color: #EE930E;
}

p.dropZoneText:hover {
  color: #EE930E;
}

p.dropZoneText {
  color: #323333;
  padding: 10px;
  margin: 10px;
  display: inline;
  cursor: pointer;
}

img.imageDropPreview {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  display: none;
}

/* GalleryZoomed */

.zoomedPhotoContainer {
  display: flex;
  justify-content: center;
}

.zoomedNavigation {
	text-align: center;
  position: absolute;
  z-index: 100;
  padding-top: 210px;
  width: 90%;
}

.zoomedNavigationLeft {
  float: left;
  color: #F5F8F2;
}

.zoomedNavigationRight {
  float: right;
  color: #F5F8F2;
}

.zoomedPhoto {
  width: 100%;
  max-height: 90%;
  padding-top: 54px;
  position: relative;
}

 .zoomedNavigationExit:hover {
   color: #EE930E;
 }

.zoomedNavigationExit {
  color: #F5F8F2;
	font-size: 21px;
	margin-left: -16px;
  padding-top: 35px;
  z-index: 500;
}

/* generalRules */

i {
  cursor: pointer;
}

i:hover, i:focus {
  color: #EE930E;
}

img.userIcon{
  height: 46px;
  border-radius: 50%;
  padding: 5px;
  float: left;
}

img.familyPhoto {
  margin-top: 5px;
  width: 100%;
}

i.messageIcon {
  font-size: 30px;
  color: white;
  padding-top: 5px;
  float: right;
  padding-right: 6px;
}


ul.userPhotoIcon {
  display: none;
}

@media only screen and (min-width: 1000px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
    .node {
    	margin: 0 auto;
    }

    .announcementContainer {
      width: 50%;

    }

    .deleteComment {
      width: 40%;
    }

    .deleteAnnouncement {
      width: 40%;
    }

    .commentContainer {
      width: 40%;
      margin: 0 auto;
    }

    .commentInputContainer {
      width: 40%;
    }

    .dropZoneBox {
      height: 200px;
      width: 100%;
    }

    .galleryContainer {
    	padding-left: 20%;
    	padding-right: 20%;
    	padding-top: 82px;
    }

		ul.userPhotoIcon {
			display: initial;
			width: 175px;
			float: left;
      position: absolute;
			padding-top: 76px;
			color: white;
		}

    .userPhotoName {
      opacity: 0;
      transition: opacity 1s linear;
    }

    .userPhotoIcon:hover .userPhotoName {
      opacity: 0.8;
      transition: opacity 1s linear;
    }

    .replyCommentTextContainer {
      margin-left: 8%;
     }

    .uploadChild {
      width: 60%;
    }

		ul.userPhotoIcon img {
			padding: 1px;
      margin: 3px;
		}

    .flexZoomedContainer {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .zoomedPhotoContainer {
      width: 40%;
    }

    .zoomedNav {
      width: 48%;
    }

}
